venv/
__pycache__/
*.pyc
.DS_Store
*.sqlite3
*.log
*.log.*
*.mypy_cache*
*.cache*
.pytest_cache/
registration/data/
images/
about.json
.idea
htmlcov
.pytest_cache/
.coverage
device.txt
build-deb-pkg-tmp/
config/develop
