venv/
__pycache__/
*.pyc
.DS_Store
*.sqlite3
*.log
*.log.*
*.mypy_cache*
*.cache*
.pytest_cache/
data/registration
data/config/develop
data/db/*.sqlite
images/
about.json
.idea
htmlcov
.pytest_cache/
.coverage
device.txt
build-deb-pkg-tmp/
config/develop
dummy.png
active.png
device/peripherals/modules/usb_camera/active.jpg
staticfiles/
hostapd.conf
rc.local
openag_brain
