Django==1.11.20
pytest-cov==2.6.1
mypy==0.600
django-cors-headers==2.5.2
djangorestframework==3.7.3
jsonschema==2.6.0
numpy==1.14.5
pytest==3.5.1
pytest-django==3.2.1
cryptography==2.3
pyjwt==1.6.0
paho-mqtt==1.3.1
pyudev==0.21.0
whitenoise==4.1
django-bootstrap-static==4.0.0
django-tempus-dominus==5.0.1.2
django-jquery==3.1.0
jsonfield==2.0.2
pyftdi==0.29.3
pygame==1.9.4
python-networkmanager
picamera
