<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}OpenAg Brain{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>OpenAg Brain</h1>
      <a href="{% url 'root' %}"> home </a> /
      <a href="{% url 'admin:index' %}"> admin </a> /
      <a href="/api"> api </a> /
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"> logout </a>
      {% else %}
        <a href="{% url 'login' %}"> login </a>
      {% endif %}

    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>