{% extends 'base.html' %}

{% block javascript %}
<script>
  //--------------------------------------------------------------------------
  window.onload = function() {

    document.getElementById("status").innerHTML = "{{status}}";
    document.getElementById("device_IP").innerHTML = "{{IP}}";

    {% if is_wifi_bbb and not valid_internet_connection %}
      $('#show_config_form').collapse('show');
      $('#show_connected_status').collapse('hide');
    {% else %}
      $('#show_config_form').collapse('hide');
      $('#show_connected_status').collapse('show');
    {% endif %}


//debugrob, remove this later, for debugging
var wifiSel = document.getElementById("wifiList");
var option = document.createElement("option");
option.text = "MIT SECURE"; 
option.value = option.text;
wifiSel.add(option);
  }

  //--------------------------------------------------------------------------
  function joinWifi() {
    document.getElementById("status").innerHTML = 'Connecting, this will take a minute...'
    var ssid_name = document.getElementById("ssid_name").value;
    var passphrase = document.getElementById("passphrase").value;
    var hiddenSSID = document.getElementById("hiddenSSID").value;
    var security = document.getElementById("security").value;
    var eap = document.getElementById("eap").value;
    var identity = document.getElementById("identity").value;
    var phase2 = document.getElementById("phase2").value;

    joinWifiPromise(ssid_name, passphrase, hiddenSSID, security, eap, identity, phase2)
      .then(function(joinWifiSuccess) {
        {% if not is_registered_with_IoT %}
        registerIoT();
        {% endif %}
        return getStatusPromise();
      })
      .then(function(statusDict) {
        // success!  nothing to do here.
      })
      .catch(function(error) {
        console.log('joinWifi Error: '+error);
      })
  }

  //--------------------------------------------------------------------------
  function joinWifiPromise(ssid_name, passphrase, hiddenSSID, security, eap, identity, phase2) {
    return new Promise(function (resolve, reject) {
      // Do POST with form args to API to connect.
      $.ajax({
        url: "/api/connect/joinwifiadvanced/",
        type: "POST",
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "ssid_name": ssid_name,
          "passphrase": passphrase,
          "hiddenSSID": hiddenSSID,
          "security": security,
          "eap": eap,
          "identity": identity,
          "phase2": phase2,
        },
        dataType: 'json',
        success: function(data) {
          // Get response message
          var joinWifiSuccess = data.success;
          console.log("joinWifiPromise succeeded: "+joinWifiSuccess);
          resolve(joinWifiSuccess);
        },
        error: function(data) {
          console.log("joinWifiPromise failed");
          reject(data);
        }
       });
     })
     console.log("joinWifi func done.")
  }

  //--------------------------------------------------------------------------
  function getStatusPromise() {
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/connect/status/",
        type: "GET",
        data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
        dataType: "json",
        success: function(data) {
          document.getElementById("status").innerHTML = data['status'];
          document.getElementById("device_IP").innerHTML = data['IP'];

          // update the page to match the status
          if(data['is_wifi_bbb'] && ! data['valid_internet_connection']) {
            $('#show_config_form').collapse('show');
            $('#show_connected_status').collapse('hide');
          } else {
            $('#show_config_form').collapse('hide');
            $('#show_connected_status').collapse('show');
          }
          document.getElementById("delete_wifis_status").innerHTML = '';

          // clean out the existing wifis
          var wifiSel = document.getElementById("wifiList");
          for( i=wifiSel.length - 1; i >= 0; i-- ) { // must do in reverse
            wifiSel.remove(i);
          }
          // add a first blank SSID
          var option = document.createElement("option");
          option.text = ''
          option.value = ''
          wifiSel.add(option);
          // add new SSIDs we just received
          wifiList = data['wifis'];
          for( i=0; i < wifiList.length; i++ ) {
            wifi = wifiList[i];
            var option = document.createElement("option");
            option.text = wifi.ssid;
            option.value = wifi.service;
            wifiSel.add(option);
          }

          document.getElementById("delete_iot_reg_status").innerHTML = '';

          var statusDict = data;
          resolve(statusDict);
        },
        error: function(data) {
          console.log("Promise Error: getStatus failed");
          document.getElementById("status").innerHTML = 'Could not get status.';
          reject(data);
        }
      });
    })
  }

  //--------------------------------------------------------------------------
  function registerIoT() {
    document.getElementById("status").innerHTML = 'Registering...';
    registerIoTPromise()
      .then(function(registerIoTSuccess) {
        document.getElementById("status").innerHTML = 'Verifying...';

        return getStatusPromise();
      })
      .then(function(statusDict) {
        document.getElementById("status").innerHTML = 'Successfully registered!';
      })
      .catch(function(error) {
        document.getElementById("status").innerHTML = 'Registration failed.';
      })
  }

  //--------------------------------------------------------------------------
  function registerIoTPromise() {
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/connect/registeriot/",
        type: "GET",
        data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
        dataType: 'json',
        success: function(data) {
          var registerIoTSuccess = data;
          resolve(registerIoTSuccess)
        },
        error: function(data) {
          console.log("registerIoT failed")
          reject(data)
        }
      });
    })
  }

  //--------------------------------------------------------------------------
  function deleteWifis() {
    document.getElementById("delete_wifis_status").innerHTML = 'Deleting...';
    deleteWifisPromise()
      .then(function(deleteWifiSuccess) {
        return getStatusPromise();
      })
      .then(function(statusDict) {
        document.getElementById("delete_wifis_status").innerHTML = 'Success!';
      })
      .catch(function(error) {
        document.getElementById("delete_wifis_status").innerHTML = error;
      })
  }

  //--------------------------------------------------------------------------
  function deleteWifisPromise() {
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/connect/deletewifis/",
        type: "GET",
        data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
        dataType: 'json',
        success: function(data) {
          document.getElementById("delete_wifis_status").innerHTML = 'Verifying...';
          var deleteWifiSuccess = data;
          resolve(deleteWifiSuccess)
        },
        error: function(data) {
          console.log("deleteWifis failed")
          reject(data)
        }
      });
    })
  }

  //--------------------------------------------------------------------------
  function deleteIoTreg() {
    document.getElementById("delete_iot_reg_status").innerHTML = 'Deleting...';
    deleteIoTregPromise()
      .then(function(deleteIoTregSuccess) {
        return getStatusPromise();
      })
      .then(function(statusDict) {
        document.getElementById("delete_iot_reg_status").innerHTML = 'Success!';
      })
      .catch(function(error) {
        document.getElementById("delete_iot_reg_status").innerHTML = error;
      })
  }

  //--------------------------------------------------------------------------
  function deleteIoTregPromise() {
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/connect/deleteiotreg/",
        type: "GET",
        data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
        dataType: 'json',
        success: function(data) {
          document.getElementById("delete_iot_reg_status").innerHTML = 'Verifying...';
          var deleteIoTregSuccess = data;
          resolve(deleteIoTregSuccess)
        },
        error: function(data) {
          console.log("deleteIoTreg failed")
          reject(data)
        }
      });
    })
  }

  //--------------------------------------------------------------------------
  function makePasswordVisible() {
    var pass = document.getElementById("passphrase");
    if (pass.type === "password") {
        pass.type = "text";
    } else {
        pass.type = "password";
    }
  }

</script>
{% endblock %}

{% block content %}
<html>

<!-- holds list of available wifis before we put them in a drop list -->
<input type="hidden" id="wifis" name="variable" value="{{ wifis }}">

<body>
<div class="connect">
  <h2>Advanced wireless network configuration</h2>
  <div class="card" id="inet-card">

      <div class="collapse" id="show_config_form">
        <ul>
          <li><div><b>Access point name:</b> (also called an SSID)</div>
            <input type="text" id="ssid_name" style="width:200px"
             autocomplete="new-password" placeholder="SSID">
            <select id="wifiList" class="selectpicker" style="width:200px"
             onchange="document.getElementById('ssid_name').value=this.value">
              <option value=""></option>
              {% for wifi in wifis %}
              <option value={{wifi.service}}>{{wifi.ssid}}</option>
              {% endfor %}
            </select>
            <p></p>

          <li><div><b>Hidden SSID:</b> (is the above SSID hidden?)</div>
            <select id="hiddenSSID" class="selectpicker" style="width:200px">
              <option value="false" selected="selected">False</option>
              <option value="true">True</option>
            </select>
            <p></p>

          <li><div><b>Passphrase:</b> (or password)</div>
            <input type="password" id="passphrase" autocomplete="new-password"
             onkeydown="if (event.keyCode==13) document.getElementById('butJoin').click()"
             placeholder='Passphrase' style="width:200px">
            <input type="checkbox" onclick="makePasswordVisible()"> Show passphrase
            <p></p>

          <li><div><b>Security:</b> (which security protocol do you use?)</div>
            <select id="security" class="selectpicker" style="width:200px"
             onchange="if( this.value == 'ieee8021x' ) {
                $('#show_eap').collapse('show');
               } else {
                $('#show_eap').collapse('hide');
               }">
              <option value="ieee8021x">WPA EAP</option>
              <option value="psk">WPA/WPA2 PSK</option>
              <option value="wep">WEP</option>
              <option value="none" selected="selected">None</option>
            </select>
        </ul>

        <!-- hide the next 3 items unless security is ieee8021x -->
        <div class="collapse" id="show_eap">
        <ul>
          <li><div><b>EAP:</b> (which Extensible Authentication Protocol do you use?)</div>
            <select id="eap" class="selectpicker" style="width:200px">
              <option value="tls">TLS</option>
              <option value="ttls">TTLS</option>
              <option value="peap">PEAP</option>
            </select>
            <p></p>

          <li><div><b>Identity:</b> (EAP identity string. Could be an email address, user name or other ID.)</div>
            <input type="text" id="identity" style="width:200px"
             autocomplete="new-password" placeholder="Identity">
            <p></p>

          <li><div><b>Phase2:</b> (Inner EAP authentication type. Could be "MSCHAPV2")</div>
            <input type="text" id="phase2" style="width:200px"
             autocomplete="new-password" placeholder="Phase2">
        </ul>
        </div>

        <a class="badge badge-secondary" data-toggle="collapse" id="butJoin"
          style="width:200px" href="" role="button" onclick="joinWifi();">
          Join Wireless Network</a>
        </br>
      </div>

    <p>
      <b>Status:</b> <span id="status"></span>
    </p>
    <div class="collapse" id="show_connected_status">
      <ul>
        <li><b>Device IP:</b> <span id="device_IP"></span>
        {% if error != None %}
        <li><b>Error:</b> {{ error }}
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="card" id="adv-card">
    <h3>Danger Zone</h3><br/>
    <ul>
      <li><a class="badge badge-secondary" data-toggle="collapse"
       style="width:200px" href="" role="button" onclick="deleteWifis();">
       Delete all wifi connections</a> <span id="delete_wifis_status"></span>
      <li><a class="badge badge-secondary" data-toggle="collapse"
       style="width:200px" href="" role="button" onclick="deleteIoTreg();">
       Delete registration</a> <span id="delete_iot_reg_status"></span>
    </ul>
  </div>

</div>
</body>
</html>
{% endblock %}
