{% extends 'base.html' %}

{% block javascript %}
<script>
  
  window.onload = function() {
    getInfoAndUpdateView()
  }

  function getInfoAndUpdateView() {
    console.log("Getting info and updating view")
    document.getElementById("status").innerHTML = "Loading network status..."

    // Initialize info vars
    var systemInfo = {};
    var networkInfo = {};
    var iotInfo = {};

    // Get system info
    getSystemInfo()
      .then(function(systemInfo) {
        var systemInfo = systemInfo;
        
        // Get network info
        getNetworkInfo()
          .then(function(networkInfo) {
            var networkInfo = networkInfo;

            // Get iot info
            getIotInfo()
              .then(function(iotInfo) {
                var iotInfo = iotInfo;

                // Update view
                updateView(systemInfo, networkInfo, iotInfo)
              })
          })
      })
      .catch(function(error) {
        console.log("Error: " + error);
      })
  }

  function updateView(systemInfo, networkInfo, iotInfo) {
    console.log("Updating view");
    console.log(systemInfo)
    console.log(networkInfo)
    console.log(iotInfo)

    // Update view for connected network and connected iot
    if (networkInfo["isConnected"] && iotInfo["isConnected"]) {
      document.getElementById("status").innerHTML = "Successfully connected!"
      document.getElementById("ip-address").innerHTML = networkInfo["ipAddress"];
      document.getElementById("remote-device-ui-url").innerHTML = systemInfo["remoteDeviceUiUrl"];
      document.getElementById("remote-device-ui-url").href = systemInfo["remoteDeviceUiUrl"];
      document.getElementById("cloud-ui-url").innerHTML = "https://openag-v1.appspot.com/login/";
      document.getElementById("cloud-ui-url").href = "https://openag-v1.appspot.com/login/";
      $('#connection-info-collapse').collapse("show");
      $('#configure-wifi-collapse').collapse("hide");
    }

    // Update view for connected network and unconnected iot
    else if (networkInfo["isConnected"] && !iotInfo["isConnected"]) {
      document.getElementById("status").innerHTML = "Connected to network, disconnected from iot"
      document.getElementById("ip-address").innerHTML = networkInfo["ipAddress"];
      document.getElementById("remote-device-ui-url").innerHTML = systemInfo["remoteDeviceUiUrl"];
      document.getElementById("remote-device-ui-url").href = systemInfo["remoteDeviceUiUrl"];
      document.getElementById("cloud-ui-url").innerHTML = "Please click here to create your user account, and connect your PFC to the OpenAg Cloud";
      document.getElementById("cloud-ui-url").href = "https://openag-v1.appspot.com/login?vcode=" + iotInfo["verificationCode"];
      $('#connection-info-collapse').collapse("show");
      $('#configure-wifi-collapse').collapse("hide");
    }

    // Update view for disconnected network and non-wifi-beaglebone system
    else if (!networkInfo["isConnected"] && !systemInfo["isWifiBeaglebone"]) {
        document.getElementById("status").innerHTML = "Unable to connect, not a wifi beaglebone"
        $("#configure-wifi-collapse").collapse("hide");
        $("#connection-info-collapse").collapse("hide");
    }

    // Update view for disconnected network and wifi-beaglebone system
    else if (!networkInfo["isConnected"] && systemInfo["isWifiBeaglebone"]) {
      document.getElementById("status").innerHTML = "Please configure your wifi network"
      updateWifiAccessPoints(networkInfo["wifiAccessPoints"]);

      // Check wifi networks have loaded
      var wifiSelect = document.getElementById("wifi-access-points-select");
      if (wifiSelect != null && wifiSelect.options.length < 1) {
        document.getElementById("status").innerHTML = "Please wait for network connections to load...refresh page in a few moments";
      }

      $("#network-info-collapse").collapse("hide");
      $("#configure-wifi-collapse").collapse("show");
    }
  }


  function getSystemInfo() {
    console.log("Getting system info")
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/system/info/",
        type: "GET",
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}"
        },
        dataType: 'json',
        success: function(data) {
          console.log("Got system info")
          var systemInfo = {
            "isBeaglebone": data["is_beaglebone"],
            "isWifiBeaglebone": data["is_wifi_beaglebone"],
            "beagleboneSerialNumber": data["beaglebone_serial_number"],
            "remoteDeviceUiUrl": data["remote_device_ui_url"]
          };
          resolve(systemInfo);
        },
        error: function(data) {
          response_dict = JSON.parse(data.responseText);
          message = response_dict["message"];
          console.log(message);
          var systemInfo = {};
          reject(systemInfo);
        }
      });
    });
  }

  function updateWifiAccessPoints(wifiAccessPoints) {
    console.log("Updating wifi access points")

    // Get wifi access point select
    var wifiAccessPointSelect = document.getElementById("wifi-access-points-select");

    // Remove stale wifi access point selections
    if (wifiAccessPointSelect != null) {
      for( i=wifiAccessPointSelect.length - 1; i >= 0; i-- ) { // must do in reverse
        wifiAccessPointSelect.remove(i);
      } 
    }

    // Add updated wifi access point selections
    if (wifiAccessPoints != null) {
      for( i=0; i < wifiAccessPoints.length; i++ ) {
        wifiAccessPoint = wifiAccessPoints[i];
        var option = document.createElement("option");
        option.text = wifiAccessPoint.ssid;
        option.value = wifiAccessPoint.psk;
        wifiAccessPointSelect.add(option);
      }
    }
  }

  function getNetworkInfo() {
    console.log("Getting network info")
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/network/info/",
        type: "GET",
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}"
        },
        dataType: 'json',
        success: function(data) {
          console.log("Got network info")
          var networkInfo = {
            "isConnected": data["is_connected"],
            "ipAddress": data["ip_address"],
            "wifiAccessPoints": data["wifi_access_points"]
          }
          resolve(networkInfo);
        },
        error: function(data) {
          console.log("Unable to get network info")
          response_dict = JSON.parse(data.responseText)
          message = response_dict["message"]
          console.log(message);
          var networkInfo = {};
          reject(networkInfo);
        }
      });
    });
  }

  function getIotInfo() {
    console.log("Getting iot info")
    return new Promise(function (resolve, reject) {
      $.ajax({
        url: "/api/iot/info/",
        type: "GET",
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}"
        },
        dataType: 'json',
        success: function(data) {
          console.log("Got system info")
          var iotInfo = {
            "isRegistered": data["is_registered"],
            "isConnected": data["is_connected"],
            "verificationCode": data["verification_code"]
          };
          resolve(iotInfo);
        },
        error: function(data) {
          response_dict = JSON.parse(data.responseText);
          message = response_dict["message"];
          console.log(message);
          var iotInfo = {};
          reject(iotInfo);
        }
      });
    });
  }

  function joinWifi() {
    console.log("Joining wifi")
    
    // Update status and processing view
    document.getElementById("status").innerHTML = "Joining wifi, this will take a few minutes..."
    $('#configure-wifi-collapse').collapse("hide");


    // Get wifi psk
    var wifiSelect = document.getElementById("wifi-access-points-select");
    var wifiPsk = wifiSelect.options[wifiSelect.selectedIndex];
    if( wifiPsk == null ) {
      console.log("Error: could not get wifiAccessPoints element");
      return;
    }

    // Get wifi password
    var wifiPassword = document.getElementById("wifi-password");
    if( wifiPassword == null ) {
      console.log("Error: could not get wifi-password element");
      return;
    }

    // Send join wifi request
    console.log("Sending join wifi request");
    $.ajax({
      url: "/api/network/joinwifi/",
      type: "POST",
      data: {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "wifi_psk": wifiPsk.value,
        "wifi_password": wifiPassword.value
      },
      dataType: 'json',
      success: function(data) {
        console.log("Successfully joined wifi");
        getInfoAndUpdateView();
      },
      error: function(data) {
        console.log("Unable to join wifi");
        response_dict = JSON.parse(data.responseText);
        message = response_dict["message"];
        console.log(message);
        console.log(response_dict);
        getInfoAndUpdateView();
      }
    });
  }

  function makePasswordVisible() {
    var pass = document.getElementById("wifi-password");
    if (pass.type === "password") {
        pass.type = "text";
    } else {
        pass.type = "password";
    }
  }

</script>
{% endblock %}


{% block content %}

{% csrf_token %}

<html>

<input type="hidden" id="wifi-access-points" name="variable", value="temp">

<body>

<div class="connect">
  
  <h2>Connect</h2>
  <div class="card" id="connect-card">
    
    <h3>Networking</h3></br>

    <p>
      <b>Status:</b> <span id="status"></span>
    </p>
    
    <div class="collapse" id="configure-wifi-collapse">
      <select id="wifi-access-points-select" class="selectpicker" style="width:200px">
      </select>

      <p>
        <input type="password" id="wifi-password" 
         onkeydown="if (event.keyCode==13) document.getElementById('join-wifi-button').click()"
         placeholder='Wifi Password' style="width:200px">
        <input type="checkbox" onclick="makePasswordVisible()"> Show Password
      </p>

      <a class="badge badge-secondary" data-toggle="collapse" id="join-wifi-button"
        style="width:200px" href="" role="button" onclick="joinWifi();">
        Join Wifi</a>
      </br>

      <p>
        If you have trouble connecting to your wireless network, please try the: <a href="/connect/advanced">Advanced wireless network configuration</a> 
      </p>
    </div>

    
    <div class="collapse" id="connection-info-collapse">
      <ul>
        <li><b>Device IP Address:</b> <span id="ip-address"></span>
        <li><b>Web UI:</b> <a id="cloud-ui-url" href="https://openag-v1.appspot.com/login" target="_blank">OpenAg Web UI</a>
        <li><b>Remotely Accessible Device UI:</b> <a id="remote-device-ui-url" href="" target="_blank"></a>
      </ul>
    </div>

  </div>
  </div>

</div>
</body>
</html>
{% endblock %}
