{% extends 'base.html' %}

{% block javascript %}
<script>
  //--------------------------------------------------------------------------
  window.onload = function() {
    var wifis = document.getElementById("wifis").value;
    document.getElementById("status").innerHTML = "{{status}}";

    //console.log("debugrob connect.html onload wifis=" + wifis);
    console.log("debugrob connect.html onload status={{status}}");
  }

  //--------------------------------------------------------------------------
  function joinWifi() {
    var wifiSel = document.getElementById("wifiList");
    if( null == wifiSel ) {
      console.log("Error: could not get wifiList element")
      return
    }
    console.log("debugrob, join wifi:"+wifiSel.value);

    var pass = document.getElementById("wifi_p");
    if( null == pass ) {
      console.log("Error: could not get wifi_p element")
      return
    }
    console.log("debugrob, join pass:"+pass.value);

    // debugrob, do POST with selected wifi to API to connect.
    $.ajax({
      url: "/api/connect/joinwifi/",
      type: "POST",
      data: {
        "csrfmiddlewaretoken": "{{ csrf_token }}",
        "wifi": wifiSel.value,
        "password": pass.value
      },
      dataType: 'json',
      success: function(data) {
        // Get response message
        message = data.message
        console.log("connect_wifi succeeded: "+message)
        document.getElementById("status").innerHTML = message;
      },
      error: function(data) {
        response_dict = JSON.parse(data.responseText)
        message = response_dict["message"]
        console.log("Join wifi failed: "+message)
        document.getElementById("status").innerHTML = message;
      },
      complete: function(data) {
      }
     });
  }

  //--------------------------------------------------------------------------
  function registerIoT() {
    console.log("debugrob, registerIoT");
    // debugrob, do POST
  }

  //--------------------------------------------------------------------------
  function deleteWifis() {
    console.log("debugrob, deleteWifis");
    // debugrob, do POST
  }

  //--------------------------------------------------------------------------
  function deleteIoTreg() {
    console.log("debugrob, deleteIoTreg");
    // debugrob, do POST
  }

  //--------------------------------------------------------------------------
//debugrob, example of GET that returns data, delete later if not used
  function getWifi() {
    return new Promise(function (resolve, reject) {
      console.log("Calling /api/connect/wifis")
      $.ajax({
        url: "/api/connect/wifis/",
        type: "GET",
        data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
        dataType: "json",
        success: function(data) {;
          console.log("got wifi data: " + data['wifis'])
          var wifis = data;
          resolve(wifis);
        },
        error: function(data) {
          console.log("get wifi data failed");
          reject(data);
        }
      });
    })
  }

  function makePasswordVisible() {
    var pass = document.getElementById("wifi_p");
    if (pass.type === "password") {
        pass.type = "text";
    } else {
        pass.type = "password";
    }
  }

</script>
{% endblock %}

{% block content %}
<html>

<!-- holds list of available wifis before we put them in a drop list -->
<input type="hidden" id="wifis" name="variable" value="{{ wifis }}">

<body>
<div class="connect">
  <div class="card" id="inet-card">
    {% if is_bbb %}

      {% if is_wifi_bbb and not valid_internet_connection %}
        <b>Wifi</b>
        <select id="wifiList" class="selectpicker" style="width:200px">
          {% for wifi in wifis %}
          <option value={{wifi.service}}>{{wifi.ssid}}</option>
          {% endfor %}
        </select>
        <p>
          <input type="password" id="wifi_p" name="wifi_p"
           placeholder='Wifi Password' style="width:200px">
          <input type="checkbox" onclick="makePasswordVisible()"> Show Password
        </p>
        <a class="badge badge-secondary" data-toggle="collapse"
          style="width:200px" href="" role="button" onclick="joinWifi();">
          Join Wifi</a>
        </br>

      {% else %}
        <b>Ethernet</b>
      {% endif %}
    {% endif %}

    <ul>
      <li><b>Status:</b> <span id="status"></span>
      <li><b>Device IP:</b> {{ IP }}
      <li><b>Device UI:</b> <a href="{{ device_UI }}" target="_blank">{{ device_UI }}</a>

      {% if error != None %}
      <li><b>Error:</b> {{ error }}
      {% endif %}
    </ul>
  </div>

  <div class="card" id="iot-card">
    <b>IoT Registration</b><br/>
    {% if is_registered_with_IoT %}
    <ul>
      <li><b>Device ID:</b> {{ device_id }}
      <li><b>IoT Connection:</b> {{ iot_connection }}
    </ul>
    {% else %}
    <a class="badge badge-secondary" data-toggle="collapse"
       style="width:200px" href="" role="button" onclick="registerIoT();">
      Register this IoT device</a><br/>
    {% endif %}
  </div>

  <div class="card" id="adv-card">
    <b>Danger Zone</b><br/>
    <a class="badge badge-secondary" data-toggle="collapse"
       style="width:200px" href="" role="button" onclick="deleteWifis();">
      Delete all wifi connections</a><br/>
    <a class="badge badge-secondary" data-toggle="collapse"
       style="width:200px" href="" role="button" onclick="deleteIoTreg();">
      Delete IoT registration</a>
  </div>

</div>
</body>
</html>
{% endblock %}
