{% extends 'base.html' %}


{% block javascript %}
  <script>
    function stop_recipe() {
      $.ajax({
        url: '/api/recipe/stop/',
        type: "POST",
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: 'json',
        success: function(data) {
            alert(data.message)
        },
        error: function(data) {
            alert(data.responseText)
        },
        complete: function(data) {
            // TODO: Reload on when recipe name changes
            location.reload();
        }
      });
    }
  </script>

  <script>
    function start_recipe() {
        var uuid = $('#recipe_uuid').val();

        $.ajax({
            url: '/api/recipe/' + uuid + '/start/',
            type: "POST",
            data: {
              'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(data) {
                alert(data.message)
            },
            error: function(data) {
                alert(data.responseText)
            },
            complete: function(data) {
                // TODO: Reload on when recipe name changes
                location.reload();
            }
        });
    }
</script>
{% endblock %}


{% block content %}
 <html>
    <h2> Recipe </h2>
        {% csrf_token %}
        <p>
        <b>Mode:</b> {{ current_recipe.mode }} </br>   
        <b>Name:</b> {{ current_recipe.name }} </br>
        <b>UUID:</b> {{ current_recipe.uuid }} </br>
        <b>Started:</b> {{ current_recipe.started }} </br>
        <b>Progress:</b> {{ current_recipe.progress }} </br>
        <b>Time Elapsed:</b> {{ current_recipe.time_elapsed }} </br>
        <b>Time Remaining:</b> {{ current_recipe.time_remaining }} </br>
        <b>Current Phase:</b> {{ current_recipe.current_phase }} </br>
        <b>Current Cycle:</b> {{ current_recipe.current_cycle }} </br>
        <b>Current Environment:</b> {{ current_recipe.current_environment }}
        </p>

        {% if current_recipe.uuid == None %}
            <b> Recipe: </b>
            <select id="recipe_uuid">
                {% for recipe in recipes %}
                    {% if recipe.uuid == selected_recipe.uuid %}
                        <option value="{{recipe.uuid}}" selected="selected"> {{recipe.name}} </option>
                    {% else %}
                        <option value="{{recipe.uuid}}"> {{recipe.name}} </option>              
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn" type="button" onClick="start_recipe()"><i class="icon-share"></i> Start Recipe </button>
        {% else %}
            <button class="btn" type="button" onClick="stop_recipe()"><i class="icon-share"></i> Stop Recipe </button>              
        {% endif %}

   
</html>
{% endblock %}