{% extends 'base.html' %}
{% block javascript %}
<script>

  function createDeviceEvent(event_name, event_id) {
     /* Creates peripheral event. */
     console.log("Creating device event: " + event_name)

     // Get function parameters
     if (event_id != null) {
      base_name = "#" + event_id;
      var value = $(base_name).val();
     }
     else {
      var value = null;
    }
     
     // Create recipient and request dicts
     recipient =  {
         "type": "Device",
         "name": null};
     request = {
         "type": event_name,
         "value": value};

      console.log(request)

     // Send create event request to endpoint
     $.ajax({
         url: "/api/event/",
         type: "POST",
         data: {
           "csrfmiddlewaretoken": "{{ csrf_token }}",
           "recipient": JSON.stringify(recipient),
           "request": JSON.stringify(request)
         },
         dataType: 'json',
         success: function(data) {
           console.log("Event request succeeded")

           // Get response message
           message = data.message
           alert(message);
           location.reload();
         },
         error: function(data) {
           console.log("Event request failed")

           // Get response message
           response_dict = JSON.parse(data.responseText)
           message = response_dict["message"]
           alert(message);
         }
     }); 
  }

   function stop_recipe() {
     $.ajax({
       url: '/api/recipe/stop/',
       type: "POST",
       data: {
         'csrfmiddlewaretoken': '{{ csrf_token }}'},
       dataType: 'json',
       success: function(data) {
           alert(data.message)
       },
       error: function(data) {
           alert(data.responseText)
       },
       complete: function(data) {
           // TODO: Reload on when recipe name changes
           location.reload();
       }
     });
   }
   
   function start_recipe() {
       var uuid = $('#recipe_uuid').val();
   
       $.ajax({
           url: '/api/recipe/' + uuid + '/start/',
           type: "POST",
           data: {
             'csrfmiddlewaretoken': '{{ csrf_token }}'},
           dataType: 'json',
           success: function(data) {
               alert(data.message)
           },
           error: function(data) {
               alert(data.responseText)
           },
           complete: function(data) {
               // TODO: Reload on when recipe name changes
               location.reload();
           }
       });
   }
   
   function upload_recipe() {
       var recipe_json = $("#recipe_json").val();
       $.ajax({
           url: "/api/recipe/",
           type: "POST",
           data: {
               "csrfmiddlewaretoken": "{{ csrf_token }}",
               "json": recipe_json},
           dataType: "json",
           success: function(data) {
               alert(data.message)
           },
           error: function(data) {
               alert(data.responseText)
           },
           complete: function(data) {
               // TODO: Reload on when recipe name changes
               location.reload();
           }
       });
   }
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="dashboard">
   <div class="row">
      <div class="col-sm">
         
            <h2> Recipe </h2>
            <div class="card">
            <p>
               <b>Mode:</b> {{ current_recipe.mode }} </br>   
               <b>Name:</b> {{ current_recipe.recipe_name }} </br>
               <b>UUID:</b> {{ current_recipe.recipe_uuid }} </br>
               <b>Started:</b> {{ current_recipe.start_datestring }} </br>
               <b>Progress:</b> {{ current_recipe.percent_complete_string }} </br>
               <b>Time Elapsed:</b> {{ current_recipe.time_elapsed_string }} </br>
               <b>Time Remaining:</b> {{ current_recipe.time_remaining_string }} </br>
               <b>Current Phase:</b> {{ current_recipe.current_phase }} </br>
               <b>Current Cycle:</b> {{ current_recipe.current_cycle }} </br>
               <b>Current Environment:</b> {{ current_recipe.current_environment_name }}
            </p>
            <p>
               <input type="text" id="recipe_json" name="recipe_json" placeholder='Paste recipe json here' required>
               <button class="btn" type="button" onClick="upload_recipe()"><i class="icon-share"></i> Upload Recipe </button>
            </p>
            {% if current_recipe.recipe_uuid == None %}
            <select id="recipe_uuid">
               {% for recipe in recipes %}
               {% if recipe.uuid == selected_recipe.uuid %}
               <option value="{{recipe.uuid}}" selected="selected"> Recipe: {{recipe.name}} </option>
               {% else %}
               <option value="{{recipe.uuid}}"> Recipe: {{recipe.name}} </option>
               {% endif %}
               {% endfor %}
            </select>
            <!-- <button class="btn" type="button" onClick="start_recipe()"><i class="icon-share"></i> Start Recipe </button> -->
            <button class="btn" type="button" onClick="createDeviceEvent('Start Recipe', 'recipe_uuid')"><i class="icon-share"></i> Start Recipe </button>

            {% else %}
            <!-- <button class="btn" type="button" onClick="stop_recipe()"><i class="icon-share"></i> Stop Recipe </button> -->
            <button class="btn" type="button" onClick="createDeviceEvent('Stop Recipe', null)"><i class="icon-share"></i> Stop Recipe </button>
            {% endif %}
         </div>
      </div>
      <div class="col-sm">
            <h2> Device Modes </h2>
            <div class="card">
            <p>
               {% for key, value in current_device.modes.items %}
               <b>{{ key }}:</b> {{ value }} </br>
               {% endfor %}
            </p>
          </div>
            <h2> Peripheral Health </h2>
            <div class="card">
            <p>
               {% for key, value in current_device.healths.items %}
               <b>{{ key }}:</b> {{ value }} %</br>
               {% endfor %}
            </p>
         </div>
      </div>
      <div class="col-sm">
        
           <h2> Sensor </h2>
           <div class="card">
           <p>
              {% for key, value in current_environment.sensor_summary.items %}
              <b>{{ key }}:</b> {{ value }} </br>
              {% endfor %}
           </p>
         </div>
           <h2> Actuator </h2>
           <div class="card">
           <p>
              {% for key, value in current_environment.actuator_summary.items %}
              <b>{{ key }}:</b> {{ value }} </br>
              {% endfor %}
           </p>
         </div>
      </div>
   </div>
</div>
{% endblock %}