{% extends 'base.html' %}

{% block javascript %}
<script>
  var images = [] // global image file names

  //--------------------------------------------------------------------------
  window.onload = function() {
    var files_json = document.getElementById("files_json").value;
    var files = JSON.parse(files_json);
    for(i in files) {
      images.push( files[i].name );
    }

    var slideO = document.getElementById("imageSlider");
    slideO.max = images.length - 1;
    slideO.value = images.length - 1; // farthest to the right
    
    var slider = $("#imageSlider");
    slider.on("input change", showImage);
    showImage();
  }

  //--------------------------------------------------------------------------
  function getOriginFromURL(href) {
    var anchor = document.createElement("a");
    anchor.href = href;
    return anchor.origin;
  }

  //--------------------------------------------------------------------------
  function showImage() {
    var slider = $("#imageSlider");
    var img = document.getElementById("image");
    // images are served by busybox, see run.sh
    var url = "{{ request.META.HTTP_REFERER }}"; // get URL / localhost
    var origin = getOriginFromURL(url); // clean the URL
    url = origin + ':8080/'; // add the port busybox is using
    img.src = url + images[ slider.val() ];
    var fn = $("#file_name");
    var fntext = images[ slider.val() ];
    fntext = fntext.replace( /_/g, ' ' ); // replace all '_' with ' '
    fntext = fntext.replace( '.png', '' );
    fn.text( fntext );
  }
</script>
{% endblock %}

{% block content %}
<html>
   <input type="hidden" id="files_json" name="variable" value="{{files_json}}">
   <body>
      <div class="images">
        <h2>Images</h2>
         <div class="card">
            <ul>
            <div class="text-center"><span id="file_name"></span></div>
            <form class="range-field">
              <input id="imageSlider" class="no-border w-100" type="range" value="0" min="0" max="0" />
            </form>
            <div class="text-center">
              <img id="image" src="" class="img-thumbnail">
            </div>

         </div>
      </div>
   </body>
</html>
{% endblock %}
