{% extends 'base.html' %}

{% block content %}
<html>
   <body>
      <div class="iot">
        <h2> IoT </h2>
         <div class="card">
            <h3>Connection Status</h3>
            <ul>
              <li><b>Connected:</b> {{ is_connected }}
              <li><b>Registered:</b> {{ is_registered }}
              <li><b>Device ID:</b> {{ device_id }}
              <li><b>Verification Code:</b> {{ verification_code }}
              <li><b>Messages received:</b> {{ received_message_count }}
              <li><b>Messages sent:</b> {{ published_message_count }}
            </ul>
         </div>
      </div>
   </body>
</html>
{% endblock %}
