{% extends 'base.html' %}
{% block content %}
<html>
   <body>
      <div class="resources">
        <h2>Resources</h2>
         <div class="card">
            <h3>About</h3>
            <ul>
              <li><b>Status:</b> {{ status }}
              <li><b>Available disk space:</b> {{ available_disk_space }}
              <li><b>Free memory:</b> {{ free_memory }}
              <li><b>Database size:</b> {{ database_size }}
              <li><b>Internet connection:</b> {{ internet_connection }}
                  
              {% if error != None %}
              <li><b>Error:</b> {{ error }}
              {% endif %}
            </ul>
         </div>
      </div>
   </body>
</html>
{% endblock %}
